* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100vh;
}
.container {
  display: flex;
}

.formInf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.sectionInf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: auto;
  align-items: center;
  background: linear-gradient(#00153F, #3071E7, #C4D9FF);
}
